<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>local-music</title>
   		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="./assets/local_music.css"/>
	</head>
	<body>
		<div id="Music-list">
			<ul>
				<li class="local-li" ng-repeat="item in items">
					
					<h4 ng-click="musicClick(item.musicId)">
						<span id="m-back" class="glyphicon glyphicon-music" aria-hidden="true"></span>{{item.name}}
					</h4>
				</li>
				<!--<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>
				<li class="local-li"></li>-->
			</ul>
		</div>
	</body>
</html>
